header{
    background-color: #634040;
    padding: 5px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    color: #cc8787;
    border: 3px solid #8b7070;
    border-radius: 15px;
    padding: 12px 24px;
    display:inline-block;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}
.Logo{
  position: relative;
  float:left;
  margin-right: 10px;
}

body {
    background-color: #8b6363;
}

.Line {
position: relative;
padding: 4px;
top: 112px;
z-index: 1;
background:#503434;
}

.Line ul{
 white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.Line li {
  width: 10%;
  display: inline-block;
  font-size: 30px;
}

.Line li a{
    Text-decoration: none;
    color:#8b6363
}

.Line li a:hover{
text-decoration: none;
}

.Colored-Box {
  background-color: #664343;
  border: 1px;
  padding: 4px 1px;
 margin-left: -41px;
}

.About {
float:right;
}

.Strip {
position: relative;
padding: 4px;
top: 112px;
z-index: 1;
background:#503434;
}

.Strip ul{
 white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.Strip  li {
  width: 10%;
  display: inline-block;
  font-size: 30px;
}
.Strip li a{
    Text-decoration: none;
    color:#8b6363
}
.Strip li a:hover{
  text-decoration: none;
}
main{
  position: relative;
}
.One {
  background-color: #795656;
}
.One h2{
  background-color: #8b6363;
  display: flex;
  flex-direction:column;
  position: relative;
  margin-top: 120px;
  padding: 10px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6em;
}
.One h3 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
    font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: bold;
}
.One h4{
    display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
    font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: light;
}

.One img{
  text-align: center;
  display:flex;
  margin: 0 auto;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.One ul{
 display: flex;
  flex-direction:column;
  position: relative;
  margin-top: -50px;
}
.Two {
  background-color: #795656;
   flex-direction:column;
  position: relative;
  margin-top: 50px;
}
footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  background: #634040;
  color: #cc8787;
 font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.4em;
  padding: 30px;
  text-align: center;
  white-space: nowrap;
}

footer a {
  color: #e07979;
}