header{
    background-color: #405d63;
    padding: 5px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    color: #87c0cc;
    border: 3px solid #70878b;
    border-radius: 15px;
    padding: 12px 24px;
    display:inline-block;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}
.Logo{
  position: relative;
  float:left;
  margin-right: 10px;
}

body {
    background-color: #63858b;
}

.Line {
position: sticky;
padding: 4px;
top: 121px;
z-index: 1;
background:#344b50;
}

.Line ul{
 white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.Line li {
  width: 10%;
  display: inline-block;
  font-size: 30px;
}

.Line li a{
    Text-decoration: none;
    color:#63858b
}

.Line li a:hover{
text-decoration: none;
}

.Colored-Box {
  background-color: #436066;
  border: 1px;
  padding: 4px 1px;
 margin-left: -41px;
}

.About {
float:right;
}

.Strip {
position: relative;
padding: 4px;
top: 112px;
z-index: 1;
background:#344b50;
}

.Strip ul{
 white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.Strip  li {
  width: 10%;
  display: inline-block;
  font-size: 30px;
}
.Strip li a{
    Text-decoration: none;
    color:#63858b
}
.Strip li a:hover{
  text-decoration: none;
}
.One {
  position: relative;
  top: 25px;
  display:inline-block;
}

.Two {
  position: relative;
  top: 600px;
  display:inline-block;
}

footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  background: #405d63;
  color: #87c0cc;
 font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.4em;
  padding: 30px;
  text-align: center;
  white-space: nowrap;
}

footer a {
  color: #79cfe0;
}